<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.designprofile">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DesignProfile">
        <activity
            android:name=".profile.menuprofile.myactivities.orderdetails.OrderDetailActivity"
            android:exported="false" />
        <activity
            android:name=".profile.menuprofile.myactivities.filter.FilterActivity"
            android:exported="false" />
        <activity
            android:name=".profile.menuprofile.myactivities.MyActivitiesActivity"
            android:exported="false" />
        <activity
            android:name=".profile.menuprofile.membership.PaymentHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".profile.menuprofile.membership.MembershipActivity"
            android:exported="false" />
        <activity
            android:name=".profile.menuprofile.membershipcard.MembershipCardActivity"
            android:exported="false" />
        <activity
            android:name=".profile.menuprofile.reddeempoints.RedeemPointsActivity"
            android:exported="false" />
        <activity
            android:name=".profile.menuprofile.account.changepassword.ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".profile.menuprofile.account.AccountActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>